body {
  overflow-y: scroll;
  overflow-x: hidden;
<<<<<<< Updated upstream
  width: 100vw;
  background-color: #0d091d;
=======
  background-color: #0d091d;
}
.navbar {
  position: absolute;
  width:fit-content;
  height:fit-content;
  background: #0d091d;
  /* glow on nav */

  box-shadow: -0.5rem .5rem 2.1875rem rgba(147, 126, 230, 0.1),
    .5rem -0.5rem 1.875rem rgba(147, 126, 230, 0.1),
    -0.5rem -0.5rem 1.875rem rgba(169, 144, 255, 0.1),
    .5rem .5rem 2.1875rem rgba(147, 126, 230, 0.2),
    inset .125rem .125rem .375rem rgba(169, 144, 255, 0.15),
    inset -0.125rem -0.125rem .5rem rgba(147, 126, 230, 0.2);
}
.navbar .logo {
        margin-top: .625rem;
        margin-left: .3125rem;
        margin-right: .3125rem;
        margin-bottom: .3125rem;
}
.navbar ul {
    
    left: 13.75rem;
    
   
    box-shadow: -0.5rem .5rem 2.1875rem rgba(147, 126, 230, 0.1),
    .5rem -0.5rem 1.875rem rgba(147, 126, 230, 0.1),
    -0.5rem -0.5rem 1.875rem rgba(169, 144, 255, 0.1),
    .5rem .5rem 2.1875rem rgba(147, 126, 230, 0.2),
    inset .125rem .125rem .375rem rgba(169, 144, 255, 0.15),
    inset -0.125rem -0.125rem .5rem rgba(147, 126, 230, 0.2); 
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d091d;
  position: fixed;
  top: 0;
  width: 70%;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.0625rem;

  align-self: center;
  display: block;
  color: white;
  text-align: center;
   
  padding: 14px 40px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
>>>>>>> Stashed changes
}

.header {
  color: white;
  height: 6vh;
  width: 100%;
}

.bottomLayer {
  width: 100%;
  height: 500vh;
<<<<<<< Updated upstream
  position: absolute;
=======
  position: relative;
>>>>>>> Stashed changes
  z-index: 1;
}

.bottomLayer .firstLayer {
  height: 80vh;
  width: 85%;
  position: relative;
  left: 15%;
}

.bottomLayer .firstLayer img {
  height: 100%;
}

.bottomLayer .secondLayer {
  height: 80vh;
  width: 100%;
  position: relative;
}

.bottomLayer .secondLayer .A {
  height: 100%;
  position: relative;
  left: 50%;
}

.bottomLayer .secondLayer .B {
  height: 70%;
  position: relative;
  left: 0%;
}

.thirdLayer {
  height: 200vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.thirdLayer .thirdSubLayer2 {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.thirdLayer .thirdSubLayer {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.thirdLayer .thirdSubLayer img {
  height: 10%;
}
.thirdLayer .thirdSubLayer .B {
  align-self: flex-end;
}

.thirdLayer .thirdSubLayer3 {
  background-color: transparent;
  z-index: 2;
  height: 100%;
  background-color: transparent;
  right: 30%;
  overflow: hidden;
}

.layerFour {
  height: 230vh;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.layerFive {
<<<<<<< Updated upstream
  height: 150vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.layerFive img {
  height: 100%;
}

.layerSix {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.layerSix img {
  height: 40%;
}

.upperLayer {
  position: absolute;
  height: 890vh;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.topHeading {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headingTitle {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headingTitleContent {
  height: 45%;
  width: 90%;
}

.contentTitle {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contentTriggers {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.warsLogo {
  height: 80%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warsTitles {
  height: 80%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.headingBot {
  width: 50%;
  height: 100%;
  /* background-color: palegoldenrod; */
}

.registerButton {
  height: 80%;
  width: 40%;
  box-sizing: border-box;
  background: #784afa;
  border: .1875rem solid #784afa;
  border-radius: 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ffffff;
  text-shadow: .0625rem .25rem .25rem rgba(34, 72, 116, 0.44);
}

.rulebookButton {
  height: 80%;
  width: 40%;
  background-color: transparent;
  border-radius: 1.25rem;
  border: .1875rem;
  border-style: solid;
  border-color: #784afa;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ffffff;
  text-shadow: .0625rem .25rem .25rem rgba(34, 72, 116, 0.44);
}

.robovlogo {
  width: 40%;
}

.robowlogo {
  width: 80%;
  margin-top: 3%;
}

.smoke {
  height: 55%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.smoke img {
  width: 80%;
  transform: rotate(10deg);
  position: relative;
  bottom: -23%;
  left: 28%;
}

.bot {
  height: 40%;
  width: 88%;
  display: flex;
  align-items: center;
  /* background-color: #784afa; */
}
.bot img {
  width: 100%;
}

.divider {
  height: .125rem;
  width: 70%;
  background-color: aliceblue;
  opacity: 0.7;
  align-self: center;
  border: .1875rem solid #151030;
  /* robo1 */
  box-shadow: -0.5rem .5rem 2.1875rem rgba(147, 126, 230, 0.1),
    .5rem -0.5rem 1.875rem rgba(147, 126, 230, 0.1),
    -0.5rem -0.5rem 1.875rem rgba(169, 144, 255, 0.1),
    .5rem .5rem 2.1875rem rgba(147, 126, 230, 0.2),
    inset .125rem .125rem .375rem rgba(169, 144, 255, 0.15),
    inset -0.125rem -0.125rem .5rem rgba(147, 126, 230, 0.2);
  transform: rotate(-0.12deg);
}

.aboutPage {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

.abouttopHeading {
    height: 10%;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.375rem;
  text-align: center;
  color: #d2b6ff;
  text-shadow: .25rem .25rem .625rem rgba(120, 74, 250, 0.4),
    -0.25rem -0.25rem .625rem rgba(120, 74, 250, 0.3);
}

.abouttopHeading p {
    margin: 0rem;
}

.videoDiv {
    height: 70%;
    width: 80%;
    background-color: red;

}

.buttonDivAbout {
    height: 10%;
    width: 80%;
    background-color: #784afa;
}

.abouttextDivider {
    height: 1%;
    width: 100%;
    border: .1875rem solid #AB93D2;
/* purple neon */
box-shadow: -0.3125rem .3125rem 1.25rem rgba(209, 180, 243, 0.07), .3125rem -0.3125rem 1.25rem rgba(209, 180, 243, 0.07), -0.3125rem -0.3125rem 1.25rem rgba(213, 184, 247, 0.3), .3125rem .3125rem 1.25rem rgba(209, 180, 243, 0.3), inset .0625rem .0625rem .25rem rgba(213, 184, 247, 0.15), inset -0.0625rem -0.0625rem .125rem rgba(209, 180, 243, 0.2);
}
=======
  height: 230vh;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

>>>>>>> Stashed changes
/* .basics .background {
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
} */

/* .basics .background img {
    position: relative;
    left: 10%;
    height: 100%;
} */
