.categories {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.robot1,
.robot2,
.robot3 {
  width: 30%;
  height: 80vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid black;
  border-radius: 20px;
}

.categories-heading {
  text-align: center;
}
.category {
  position: absolute;
  top: 5%;
  left: 37%;
  font-size: 40px;
}
@media only screen and (max-width: 768px) {
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the columns */
  }
  .category {
    margin-left: 0%;
    font-size: 30px;
  }
  .robot1,
  .robot2,
  .robot3 {
    width: 70%; /* Adjust the width for better fit on mobile */
    height: 50vh; /* Adjust height if necessary */
    margin-bottom: 20px; /* Add spacing between items */
  }
  #three-container,
  #three-container1 {
    margin-top: -520px;
    margin-bottom: -10px;
  }
  #three-container {
    margin-bottom: -20px;
  }
}

#three-container,
#three-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: -130px;
}

#three-container1 {
  margin-left: -400px;
}

#three-container {
  margin-bottom: -135px;
}

.robot-container h2 {
  margin-left: 45%;
  padding-top: 10%;
}

.white-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #d64e2e;
  background-image: url("https://res.cloudinary.com/dtuqpup4a/image/upload/fl_preserve_transparency/v1727411414/arena_back_ldljum.jpg?_s=public-apps");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
