.aboutPage {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.abouttopHeading {
  height: 10%;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.375rem;
  text-align: center;
  color: #d2b6ff;
  text-shadow: 0.25rem 0.25rem 0.625rem rgba(120, 74, 250, 0.4),
    -0.25rem -0.25rem 0.625rem rgba(120, 74, 250, 0.3);
}

.abouttopHeading p {
  margin: 0rem;
}

.videoDiv {
  height: 70%;
  width: 80%;
  border: 3px solid #9E87FB;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;

}
.DescriptionDiv
{
  height: 30vh;
  width: 80%;
  border: 3px solid #9E87FB;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-left:0px;
}


.buttonDivAbout {
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.robowarsAbout {
  height: 80%;
  width: 40%;
  background: rgba(158, 135, 251, 0.9);
  border: 3px solid #784afa;
  border-radius: 10px;
  color: white;
  font-size: 25px;
}

.robowarsAbout p {
  margin: 0px;
}

.roboviticsAbout {
  height: 80%;
  width: 40%;
  background: rgba(120, 74, 250, 0.4);
  border: 3px solid #9e87fb;
  border-radius: 10px;
  color: white;
  font-size: 25px;
}

.roboviticsAbout p {
  margin: 0px;
}

.abouttextDivider {
  height: 1%;
  width: 100%;
  border: 0.1875rem solid #ab93d2;
  /* purple neon */
  box-shadow: -0.3125rem 0.3125rem 1.25rem rgba(209, 180, 243, 0.07),
    0.3125rem -0.3125rem 1.25rem rgba(209, 180, 243, 0.07),
    -0.3125rem -0.3125rem 1.25rem rgba(213, 184, 247, 0.3),
    0.3125rem 0.3125rem 1.25rem rgba(209, 180, 243, 0.3),
    inset 0.0625rem 0.0625rem 0.25rem rgba(213, 184, 247, 0.15),
    inset -0.0625rem -0.0625rem 0.125rem rgba(209, 180, 243, 0.2);
}
#robowarsvideo
{
  height: 100%;
  width: 100%;
}
#Roboviticstext
{
  color: aliceblue;
  padding: 5%;
}
#Robowarstext
{
  color: aliceblue;
  padding: 5%;
}

@media only screen and (max-width: 768px) {
  .aboutPage {
    height: 170vh;
  }

  .videoDiv {
    height: 35%;
    border: 3px solid #9E87FB;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
overflow: scroll;
  }
.DescriptionDiv{
  height: 30vh;
  border: 3px solid #9E87FB;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
overflow: scroll;
margin-left:0px;

}
  .buttonDivAbout {
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .robowarsAbout {
    height: 18%;
    width: 80%;
  }

  .roboviticsAbout {
    height: 18%;
    width: 80%;
  }


}
