.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

}

.container-ec{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*for slide show*/
.mySlides {
    display: none;
    margin-left: 40px;
    margin-bottom: -7px;
    margin-top: 20px;

  }
.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Caption text */
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
/*-------------------*/

/*for slide show*/
.mySlides2 {
    display: none;
    margin-left: 40px;
    margin-bottom: -7px;
    margin-top: 20px;
}

.slideshow-container2 {
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
  }
  /* Next & previous buttons */
  .prev2,
  .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev2:hover,
  .next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Caption text */
  
  /* Number text (1/3 etc) */
  .numbertext2 {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot2 {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active2,
  .dot2:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade2 {
    -webkit-animation-name: fade2;
    -webkit-animation-duration: 1.5s;
    animation-name: fade2;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade2 {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade2 {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
/*-------------------*/


.kgHeading{
    width: 35vw;
    height: 5vh;
    margin-bottom: 10px;
    background: rgba(158, 135, 251, 0.9);
    border: 3px solid #9E87FB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kgHeading p{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    /* background-color: aqua; */
    font-family: Gilroy-Light; /*to be set*/
    color: white;

}

.kgDescription{
    background: rgba(120, 74, 250, 0.4);
    border: 3px solid #784AFA;
    border-radius: 10px;
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.kgDescription img{
    width: 90%;
    height: 90%;
}

@media only screen and (max-width: 769px){
    .main-container{
        flex-direction: column;
        margin-top: 10px;
        overflow: scroll;
    }

    .container-ec{
        margin-bottom: 30px;
        width: 100vw;
    }

    .kgHeading{
        width: 80vw;
    }

    .kgHeading p{
        font-size: 20px;
    }

    .kgDescription{
        width: 80vw;
        height: 40vh;
    }

    
    /* #header-faq {
        align-items: center;
    }

    #header-faq h1 {
        margin-top: -45px;
        font-size: 30px;
        
    } */

    /* #faq-line {
        margin-bottom: 20px;
    } */

    .mySlides2 {
        margin-left: 25px;
    }

    .mySlides {
        margin-left: 25px;
    }
}