.judgesPage {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .judgehead {
    display: flex;
    flex-direction: column;
  }
  
  .judgebox {
    width: 100%;
    height: 70%;
    margin-top: 10vh;
    /* display: grid;
    grid-template-rows: 50vh;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
  }
  
  .judge {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr;
    border: 5px solid #784afa;
    width: 30vh;
    height: 30vh;
    border-radius: 30vh;
    padding: 10px;
    margin: 0 15vh;
    justify-items: center;
  }
  
  .info {
    background-color: #9e87fb;
    display: grid;
    width: 17vh;
    height: 17vh;
    border-radius: 17vh;
    align-items: center;
    color: white;
    padding: 6vh;
    border: 1px solid white;
    font-family: "Gilroy-Light";
    font-size: 2.5vh;
    justify-content: space-evenly;
  }
  
  .judge img {
    width: 29vh;
    height: 29vh;
    border-radius: 29vh;
    padding: 0;
  }
  
  .judgeImg:hover {
    transition: 0.5s ease-in-out;
    display: none;
    opacity: 0;
  }

/* 
@media (max-width: 767px) {
    .judgebox{
        flex-direction: column;
        height: ;
    }

    .judge {
        width: 20vh;
        height: 20vh;
        border-radius: 20vh;
      }

      .judge img {
        width: 19vh;
        height: 19vh;
        border-radius: 19vh;
        padding: 0;
      }
} */