.judgesPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
/* Container which has 3 Judges */
  .container{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    /* border: 1px solid white; */
    margin: 5% auto;
}


/* Individual Judge Element Property */
.circle{
    border-radius: 50%;
}

.outer {
    width:30vh;
    height:30vh;
    position:relative;
    border: 5px solid #784afa;
}

.inner {
    top: 7%; left:7%; /* of the container */
    width: 86%; /* of the container */
    height:86%; /* of the container */
    position: relative;
}

.info {
    background-color: #9e87fb;
    position: absolute;
    /* Aligning the Info */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-family: "Gilroy-Light";
    font-size: 1em;
    color: white;
    
}

/* Show the participants details when hovered over: */
img.inner:hover{
    display: none; 
    opacity: 0;
    transition: ease-in-out 2s;
}

@media (max-width: 768px) {

    .judgesPage{
        height: 100vh;
        justify-content: center;
    }
    .container{
        margin-top: 5%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .outer {
        margin-bottom: 12%;
    }

    .info{
        font-size: 0.8em;
    }

    img.inner:hover{
        display: flex; 
    }
    img.inner:active{
        opacity: 0;
        display: none;
    }
}
