.warsLogo {
    height: 80%;
    width: 35%;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .warsLogo img {
    width: 100%;
  }
 
  .warsTitles {
    height: 80%;
    width: 65%;
    display: flex;
    min-width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
  }
 
  @media only screen and (max-width: 768px) {
    .warsLogo {
      height: 150%;
      width: 75%;
      min-width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
 
    .warsLogo img {
      width: 100%;
    }
 
    .warsTitles {
      height: 85%;
      width: 70%;
      display: flex;
      min-width: 180px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* background-color: black; */
    }
  }