.sponsorPage {
    height: 70vh;
    width: 100%;
    /* display: none; */
}

.sponsorPage .header-sponsorPage {
    align-items: center;
}

.sponsorPage .header-sponsorPage h1 {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    /* line-height: 54px; */
    text-align: center;

    color: #d2b6ff;

    text-shadow: 4px 4px 10px rgba(120, 74, 250, 0.4),
        -4px -4px 10px rgba(120, 74, 250, 0.3);
}

.sponsorPage .header-sponsorPage .line {
    margin-top: -20px;
    width: 250px;
    height: 0px;

    border: 1px solid #ab93d2;
    /* purple neon */

    box-shadow: -5px 5px 20px rgba(209, 180, 243, 0.07),
        5px -5px 20px rgba(209, 180, 243, 0.07),
        -5px -5px 20px rgba(213, 184, 247, 0.3),
        5px 5px 20px rgba(209, 180, 243, 0.3),
        inset 1px 1px 4px rgba(213, 184, 247, 0.15),
        inset -1px -1px 2px rgba(209, 180, 243, 0.2);
    /* transform: rotate(-0.2deg); */
}

.sponsorPage .Logos {

    height: fit-content;
    width: fit-content;
    justify-content: end;
    align-items: center;
    width: 80%;
    display: flex;
}

.sponsorPage .Logos img {
    height: auto;
    width: auto;
    margin-top: 5%;
}

.sponsorPage .Logos .autodesk {
    margin-right: 5%;

}

.sponsorPage .Logos .schneider {
    margin-top: 9%;
    margin-left: 5%;
}
@media only screen and (max-width: 768px){
    .sponsorPage .header-sponsorPage h1 {
        font-size: 30px;
    }
    .sponsorPage .header-sponsorPage .line {
        width: 50%;
    }
    .sponsorPage .Logos{
        flex-direction: column;
        justify-content: center;
    }
    .sponsorPage .Logos .autodesk {
        margin-bottom: 40px;
        margin-right: -70px;
    
    }
    .sponsorPage .Logos .schneider {
        margin-left: -10px;
    }
    .sponsorPage .Logos img {
        height: 80%;
        width: 80%;
        margin-top: 20%;
        margin-right: -90px;
    }
}